@import "variables";
@import "mixin";

body {
  font-family:ProximaNovaCond-Regular;
  color: $body_font_color;
  background-color: $body_background_color;
  @include get_gradient($body_background_color, $body_background_color);
}

.content-wrapper {
  color: $body_font_color;
  background-color: $body_background_color;
  @include get_gradient($body_background_color, $body_background_color);
}

.skin-blue .main-header .navbar {
  background-color: $toppanel;
}

.skin-blue .main-header .logo {
  background-color: $logo_area;
  img {
	width: 190px;
  }
  &:hover {
	background-color: $logo_area;
  }
}

.skin-blue .main-header .navbar .sidebar-toggle {
  &:hover {
	background-color: $sidepanel;
  }
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: $sidepanel;
}

.main-footer {
  background-color: $sidepanel;
}

.cancel_user_input, .save_data_button {
  display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
	-webkit-transform: scale(0)
  }
  100% {
	-webkit-transform: scale(1.0);
	opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
	-webkit-transform: scale(0);
	transform: scale(0);
  }
  100% {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	opacity: 0;
  }
}

.logo {
  margin-left: calc(1% - 1%) !important;
}

.skin-blue .main-header .logo img {
  width: 150px;
}

.skin-blue .sidebar a {
  color: $active_menu_item_text;
}

.side_bar_section {
  position: absolute;
  bottom: 0;
  left: 0;
  .footer_copy_rights_side_bar {
	text-align: center;
	margin: 10px 20px;
	padding: 5px;
	color: $content_footer_copy_rights;
	p {
	  font-size: 12px;
	  font-weight: 600;
	  text-transform: uppercase;
	  line-height: 0.5;
	  &.company_name {
		font-size: 15px;
	  }
	}
  }
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
  //@include get_gradient($active_state_nav, $active_state_nav);
  //background-color: $active_state_nav;
  border-left-color: $active_state_nav !important;
  
}

.active {
  @include get_animation(all, 1s, ease-in);
}

.skin-blue .main-header .navbar .nav > li > a {
  color: $nav_user_info_color;
  @include get_animation(all, 0.5s, ease);

  &:hover {
	background: transparent;
	box-shadow: none;
	color: black;
  }
}

.loader_container {
  .loader {
    border: 1.1em solid $active_menu_item_text !important;
    border-left-color:$menu_item_text !important;
  }

}

.table-share-founders {
  thead {
    background-color: $content_description_inner;
    tr{
      th{
        text-transform: uppercase;
        font-weight: 400;
        text-align: right;
      }
      th.align-left {
        text-align: left;
      }
      th.align-center{
        text-align: center;
      }
    }
  }
  tbody {
    tr{
      background-color: $content_entries_content;
      td{
        text-align: right;
        text-transform: capitalize;
      }
      td.align-left{
        text-align: left;
      }
      td.align-center{
        text-align: center;
      }
      td.is_email {
        a {
          text-transform: lowercase;
        }
      }
    }
  }
  &.align-left td{
    text-align: left;
  }
}

.content_agreement_main_container {
  text-align: center;
  margin: 50px auto;

  .modal {
    text-align: left;
  }
}

.admin_panel_btn {
  @include get_animation(all, 0.5s, ease);
  margin-left: 0;
  //display: inline;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  width: 150px;
  text-transform: uppercase;
  &:hover {
    @include get_animation(all, 0.5s, ease);
    background-color: #79b642;
    color: #FFF;
  }
}

.form-group {
  label, div.col-sm-10 {
    margin: 5px auto;
  }
}


body {
  background-color: white !important;
}

.admin_panel_form_left_side {
  h1{
    margin: 0 0 33px auto;
    position: relative;
    display: block;
  }
  .form-group {
    span {
      color:rgba(0, 0, 0, 0.8);
      font-weight: 400;
    }
    label {
      font-weight: 400;
      color:rgba(0, 0, 0, 0.7);

      &:last-child {
        font-weight: bold;
      }
    }
  }
}

.check_box_container input[type=checkbox]+label:before {
  letter-spacing: 10px !important;
  margin: 0 !important;
}


//filter images style
//http://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css
.saturate {
  -webkit-filter: saturate(3);
  filter: saturate(3);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.contrast {
  -webkit-filter: contrast(160%);
  filter: contrast(160%);
}

.brightness {
  -webkit-filter: brightness(0.25);
  filter: brightness(0.25);
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.huerotate {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}

.rss.opacity {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}
.main-header .logo .logo-lg{
  width: 140px;
  margin: 3px 10px;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
  background:$navigation_color_hover;
  color:$active_menu_item_text;
}

i {
  &.color_green {
    color:green;
  }
  &.color_red {
    color:red;
  }
}

.modal-footer {
  a {
    float: left;
    line-height: 2.5;
  }
}

.loader_container {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  z-index: 99999999999;

  .loader {
  margin: 20% auto 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid $call_to_action_green;
  border-left-color: #404040;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  }
  .loader,
  .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  }

}


@-webkit-keyframes load8 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}