$widget_label_color: #393A37;
$widget_color_btn: #74AD43;
$widget_color_btn_hover: #8BD82D;
$button_font_color: #ffffff;


//These are the colors for the panel
$sidepanel: #eeeeee; //colors for the left side panel
$toppanel:  #f7f7f7; //top bar
$logo_area: #e2e2e2; //logo area
$call_to_action_green:#76cc1e; //Green
$call_to_action_red:#f47564; //Red

$hover_color:#82c8f7; //highlight (base color):
$navigation_color: #fbfbfb; //active menu:
$navigation_color_hover:  #fbfbfb; //hover menu:
$body_background_color: #ffffff; //background for content area: #ffffff

$logo_text_color: #d1d6db; //logo: #
$content_description_inner: #eeeeee; //list, for headlines like 'Shareholders' 'Number of shares: #e4ebf3
$content_entries_list: #f6f6f6;
$content_entries_content: #fbfbfb; //list, colors for every other entry: #f7f9fc; #f0f3f7

$active_menu_item_text: #333333; //active menu text:
$menu_item_text: #d1d6db; //passive menu text:
$body_font_color:  #333333; //font color:

$btn_gray_color: #E7E7E7;
$content_footer_copy_rights: #6B7381;
$nav_user_info_color: #333333;

$active_state_nav: #fbfbfb;

$backGroundColor:#F9F9F9; // investor relations background color
$borderColor:#EAEAEA; //investor relations border color
$textGrey:#9E9E9C; //investor relations grey text color
$buttonColor:#2EA3F2; //investor relations button  color
$buttonColorFollow:#2EA3F2; //investor relations button(follow)  color
$buttonColorInvest:#2CDE73;//investor relations button(invest)  color
$maxScreenWidth:"987px"; // max screen width for small screen
$backGroundColorProgress:#EAEAEA; //background color for progress bar for share invested
$forgroundColorProgress:#2CDE73; //background color for progress bar for share invested