<div class="main_container text-center">
    <div class="login_form_container">
        <img class="company_logo" src="../assets/img/logo_open-sans.png">
        <h2>Verify and new password</h2>
        <form class="login_form" ng-submit="verifyAndCreatePassword()" >
            <div class="form_image_header_container">
                <img src="../assets/img/sign_up_icon.svg">
            </div>
            <input type="text" class="form-control" ng-model="varify_password_request_code" required
                   placeholder="verification code">
            <input type="password" value='' class="form-control"  ng-model="new_password" required
                   placeholder="new password">
            <input type="submit"  class="form-control" value="Save password">
        </form>
    </div>
</div>
