<div class="main_container text-center">
    <div class="login_form_container">
        <img class="company_logo" src="../assets/img/logo_open-sans.png">
        <h2>Password</h2>
        <form class="login_form" ng-submit="createPassword()" >
            <div class="form_image_header_container">
                <img src="../assets/img/sign_up_icon.svg">
            </div>
                <input type="password"  class="form-control"
                       ng-model="user_password"
                       placeholder="password"
                       required />
                <input type="password"  class="form-control"
                       ng-model="user_verify_password"
                       placeholder="repeat password"
                       ng-blur="verifyConfirmPassword(user_password,user_verify_password)"
                       required />
            <input type="submit" id="create_password-login" class="form-control" value="Create">
            <p> <span class="error">{{error_msg}}</span></p>
        </form>
    </div>
</div>
